body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}

nav{
    width: 100vw;
    height: 100px;
    background: #f12020eb;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    font-size: 18px;
}

.top{
    width: 96vw;
    height: 100px;
}

.head ul{
    display: flex;
}

ul li{
    list-style: none;
    margin-left: 20px;
}

ul li a{
    color: #fff;
    text-decoration: none;
    list-style: none;
}

